
$color-fondo:#343a40;
$font-family-base:'Roboto';

//COMUNES

body{
    padding-top:30px;
    font-family: $font-family-base;
}

.container--margin{
    margin-top: 57px;
}

p{
    text-align: justify;
}

.foto-fullwidth{
    width:100%;
    height:auto;
}

//NAVBAR
.navbar {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-areas: "navbar-brand navbar-collapse";
    display:flex;
    justify-content: space-around;
}

.navbar-brand{
    grid-area: navbar-brand;
}

.navbar-collapse{
    grid-area:navbar-collpase;
}

.navbar-nav .nav-item a {
    margin-left: 2rem;
    margin-right: 2rem;
}



.menu--link{
    color: white;
    background-color:$color-fondo;
    
}

//FOOTER
.footer__container{
    background-color: $color-fondo;
    color: white;
    width:100%;
 
}



.footer__redesSociales{
    transition: all 2s;
    margin-right: 4%;
}

.footer__redesSociales:hover{
    transform: scale(2,2);
}

//VINOS - FELINO

#fotosFelino{
    height:25.41979vh;
    padding-top: 2%;

    div{
        height: 100%;
        div{
            height:100%;
            a{
                height:100%;
            }
        }
    }
    

}
.fotosFelino{
    max-height: 100%;
    width: auto;
}

.fotoVariedadFelino {
    height: 40vh;
    width: auto;

}

//FORMULARIO

.agrandar {
    transition: all 2s;
}

.agrandar:focus{
    font-size: 1.5rem;
    line-height: 2;
}

legend {
    font-size: 1em;
}

//landscape devices

@media only screen and (min-width: 992px){
    #fotosFelino{
        height: 58.55vh;
    }

}



